<div class="header">
  <div>
    <a href="/">
      <img src="/images/metablog--favicon.svg" alt="" srcset="" />
      <img src="/images/metablog--icon--black.svg" alt="" srcset="" />
    </a>
  </div>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/singlepost">Single Post</a></li>
      <li><a href="/pages">Pages</a></li>
      <li><a href="/contacts">Contacts</a></li>
    </ul>
  </nav>
  <div>
    <search>
      <form action="./search/">
        <input placeholder="Search" type="search" id="movie" name="q" />
        <button type="submit">
          <img src="/images/search.svg" alt="" srcset="" />
        </button>
      </form>
    </search>
  </div>
</div>
