<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=deice-width, initial-scale=1.0" />
  <title>BlogFul</title>
  <link rel="stylesheet" href="/dist/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

  <link rel="icon" href="/images/metablog--favicon.svg" type="image/png" />
</head>
