@use '../util';

*, *::before, *::after{
    font-family: util.$font-primary;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

button{
    border: none;
    background: none;
}