:root{
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
}

.font-regular{
    font-weight: var(--fw-400);
}
.font-medium{
    font-weight: var(--fw-500);
}
.font-semibold{
    font-weight: var(--fw-600);
}
.font-bold{
    font-weight: var(--fw-700);
}
.font-18{
    font-size: 1.125rem;
}
.font-20{
    font-size: 1.25rem;
}



a, a:visited, a:active{
    text-decoration: none;
    color: inherit;
}

ul, ol{
    list-style: none;
    padding: 0;
}