<article class="card">
  <div class="card__placeholder">Placeholder</div>
  <div class="card__content">
    <div class="card__title">
      <%- include('./badge.ejs') %>
      <h2>
        The Impact of Technology on the Workplace: How Technology is Changing
      </h2>
    </div>
    <div class="card__author">
      <div>
        <div class="card__placeholder--image">1</div>
        <span>Jason Francisco</span>
      </div>
      <span>August 20, 2022</span>
    </div>
  </div>
</article>
