/* Box Sizing */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Reset Margin for Common Elements */
body, h1, h2, h3, h4, p, figure {
  margin: 0;
}

/* Remove List Styles */
ul[role='list'], ol[role='list'] {
  list-style: none;
}

/* Smooth Scrolling */
html:focus-within {
  scroll-behavior: smooth;
}

/* Body Styles */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Link Styles */
a, a:not([class]) {
  text-decoration-skip-ink: auto;
  text-decoration: none;
  color: inherit;
}

/* Remove List Styles and Margin for Lists */
li, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Responsive Images */
img {
  max-width: 100%;
  display: block;
}

/* Margin for Sibling Elements Inside Article */
article > * + * {
  margin-top: 1em;
}

/* Inherit Font for Form Elements */
input, button, textarea, select {
  font: inherit;
}

/* Button Reset Styles */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  appearance: none;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
}

/* Remove Focus Outline on Buttons */
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  outline: none;
}

/* Button Link Styles */
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
a.button-link {
  text-decoration: none;
  color: inherit;
}

/* Reduced Motion Styles */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
