:root{
    --ff-primary:'Work Sans', sans-serif;
    --ff-secondary:'Plus Jakarta Sans', sans-serif ;
}


.font-primary{
    font-family: var(--ff-primary);
}

$base-font-size: 1rem;
$small-font-size: .875rem;
$large-font-size: 1.125rem;