:root{
  // Accent Colors
  --clr-accent-900: hsl(234, 29%, 8%);
  --clr-accent-800: hsl(234, 29%, 15%);
  --clr-accent-400: hsl(232, 96%, 59%);

  //Neutral Colors
  --clr-neutral-100: hsl(240, 60%, 97%);
  --clr-neutral-200: hsl(210, 20%, 91%);
  --clr-neutral-300: hsl(215, 7%, 87%);
  --clr-neutral-400: hsl(0, 0%, 100%);
  --clr-neutral-500: hsl(234, 5%, 43%);
  --clr-neutral-600: hsl(234, 2%, 61%);
  --clr-neutral-700: hsl(234, 5%, 28%);
  
}