.article{
    max-width: 800px;

    &__title{
        margin-bottom: 20px;
        font-size: 36px;
    }

    &__author--information{
        display: flex;
        align-items: center;
    }

    &__image{
        width: 100%;
    }
}