.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-group{
    display: flex;
    gap: 8px;
    align-items: center;
}
.flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}