@use '../util';

.header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding: 0 3.5vw;
    
    &__icon--container img:last-child{
        display: none;
    }


    &__nav--group{
        display: flex;
        align-items: center;
        gap: 40px;
        font-size: 1rem;
    }
    
    &__search--container{
        display: flex;
        background-color: var(--clr-neutral-300);
        align-items: center;
        max-width: 166px;
        font-family: util.$font-for-search;
    }

    &__search--container input{
        height: 36px;
        background: none;
        border: none;
        width: 100%;
        padding-left: 16px;
        font-size: 0.9rem;
    }

    &__search--container button{
        background: none;
        border: none;
        padding-right: 8px;
        margin-left: 8px;
    }
    &__left--group{
        display: flex;
        gap: 40px;
        align-items: center;
    }
    &__hamburger{
        display: none;
    }

    @media (max-width:  1024px) {
        &__nav--group{
            display: none;
        }
        &__hamburger{
            display: inline-block;
        }
    }

    @media (max-width:  769px){
        &__search--container{
            display: none;
        }
    }

    @media (min-width: 770px) {
        &__icon--container img:first-child{
            display: none;
        }
        &__icon--container img:last-child{
            display: inline-block;
        }
    }
}

