header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding: 0 350px;
}

.header-flex-group{
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 1rem;
}

.search-container{
    background-color: var(--clr-neutral-700);
    height: 36px;
    display: flex;
    align-items: center;
}